/* Wrapper and general layout */
.about-main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 200vh;
    background-color: #6c757d;
    position: relative;
    flex-wrap: wrap;
}

/* Hot Bar */
.about-hot-bar {
    width: 100%;
    background-color: #7ba826;
}

.about-row {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
}

.about-logo-img, img {
    width: 100px;
    height: 100px;
    border: 0;
    z-index: 2;
}

.about-nav-col {
    display: inline-block;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tab Links */
.about-tab-link {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-bottom: none;
    padding: 7px 20px;
    font-size: 16px;
    height: 40px;
    margin-top: 60px;
    z-index: 1;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

/* Main Content */
.about-main-content {
    width: calc(100% - 100px);
    margin: 20px auto;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    display: flex;
}

